<!-- TO DO with routing task remove hardcode product data -->
<!-- https://trello.com/c/B19DNFJb/10-implement-routing -->
<mat-card>
    <mat-card-title>Title</mat-card-title>
    <img src="https://images.pexels.com/photos/3265460/pexels-photo-3265460.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
        alt="detail-test">
    <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo,
            fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
            justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper
            nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
            laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
            sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,</p>

    </mat-card-content>
    <mat-card-actions>
        <div class="amount-spin">
            <label>Amount:</label>
            <input matInput type="number" [(ngModel)]="count" (keyup)="disableEnableAddToCart()"
                oninput="(validity.valid)||(value='');" [min]="minAmount" [max]="maxAmount">
        </div>
        <div class="cost-rating-container">
            <div class="cost">33.99$</div>
            <div>
                <ngb-rating [max]="maxRating" [(ngModel)]="starRating" [(rate)]="starRating" [readonly]="false"
                    (click)="getRating()"></ngb-rating>
            </div>
        </div>
        <button class="checkout-btn" mat-button (click)="addToCart()" [disabled]="!isAddToCart">Add to cart</button>
    </mat-card-actions>
</mat-card>